/*Tipo de letra*/
body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
/* ..................................1ra Sección.............................................................. */
/* Imagen del hero */
#hero{
  background-image: url(../assets/images/taxi.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 600px;
}
/* fondo de color para div superpuestos */
.bg-color{
  background-color: #f7b617;
  color: white;
}
/* padding-35 */
.padding-35{
  padding: 35px;
}
/* Boton del hero */
.btn{
  padding: 7px;
  border-radius:5px;
  background-color: #ffffff;
  color: #0b141d;
}
/* Hago uso del flex para pocisionar mi div */
.container-1s{
  display: flex;
}
.flex-end {
  align-items: center;
  justify-content: flex-end;
}
/* Defino el tamaño del logo blanco */
.logo-white{
  width: 30%;
}
/* La distancia entre h2 y bootom */
h2{
  margin-bottom: 25px;
  color: white;
  font-size: 30px;
  font-weight: bold; 
}
p, .btn{
  font-size: 18px; 
}
/* Quitando margin al nav */
.mod-nav{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #ffffff;
}
/* padding padding 15 */
.padding-15{
  padding: 15px;
  }
.bold-font{
  font-weight: bold;
  } 
 /* Para la separación de la raya y la frase O bien */ 
 .separation{
  display: inline-block;
  position: relative; 
  color: white;
  font-size: 10px;
  z-index: 1;
  margin-left: 100px;
 }
.separation::after, .separation::before {
  border-bottom: 1px solid #fff;
  bottom: 50%;
  content: "";
  margin: 0 23px;
  position: absolute;
  width: 90px;
  padding-left: 100px;
}
.separation::before {
  left: -130px;  
}
.separation::after {
  right: -130px;
}
.size2{
  font-size: 13px;
}
/* .row {
    margin-right:0; 
} */

/* ..................................2da Sección.............................................................. */
.padding-2{
  padding: 35px 0;
}
.border-s2{
  border: 1px solid white;
  border-left: 0;
}
.margin-s3{
  border: 1px solid white;
  padding: 35px;
  margin: 35px;
}
.img-reponsive{
  width: 100%;
}
.padding-4{
  padding: 0 35px;
}
/* ..................................3ra Sección.............................................................. */
#sec-3{
  background-image: url(../assets/images/conduce.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 400px;
}
.opacidad{
  color: white;
  background-color: rgba(0, 0, 0, 0.62);
  padding: 25px;
  height: 400px;
}
.bg-color-btn{
  background-color: #f7b617;
  color: white;
}
/* Mapa responsive */
.google-maps {
  position: relative;
  padding-bottom: 40%; 
   
  }
.google-maps iframe {
  position: absolute;
  width: 100% !important;
  }
/* ..................................4ta Sección.............................................................. */
.padding-5{
  padding: 5% ;
}
.padding-7{
  padding: 2% 5%;
}
.border-map2{
  border: 1px solid white;
  padding: 5px;
}
.border-map{
  border: 1px solid white;
}
/* Mapa responsive */
.google-maps {
  position: relative;
  padding-bottom: 70%; 
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  padding: 15px;
}
#pointGoing, #pointDestiny{
  background-color: transparent;
  box-shadow: none;
  color: white;
  padding: 5px;
  width: 80%;
  border-radius:5px;
  border: 1px solid white;
  margin: 5px;
}
::placeholder { 
  color: white; 
}
.bg-footer{
  background-color: #2b2b2b;
  color: #d0d0d0;
}
.icon-space {
  padding-right: 10px;
}
.mg-top{
  margin-top: 15px;
}
ul, menu, dir {   
  -webkit-padding-start: 0;
}
.space{
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 8%;
}
.lh{
  line-height:35px;
  list-style:none;
}
.text-footer{
    font-size: 12px;
}
@media (min-width: 768px) {
.f1{
  transform: translate(0, 260px);
}   
.f4{
  transform: translate(0, 130px);
}
}
@media (max-width: 768px) {
/* posición del nav en movile */
.navbar-toggle{
  float: left;
  margin-left: 15px;
}
}
/* ..........................................Modal 1:Iniciar Seción...................................... */
.placeholder-color::placeholder { color: #2b2b2b; }
.icon-user, .icon-lock{
  padding: 5px;
  background-color: #dfdddd;
  border: 1px solid #2b2b2b; 
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.formModal{
  margin: auto;
  width: 70%;
  max-width: 500px;
  background: #f5f5f5;
  padding: 30px;
  border: 1px solid rgba(0,0,0, 0.2);
  border-radius:5px;
}
.input-is{
  width: 90%;
}
.modal-footer { 
  text-align: center;
  color: white;
}
.btn-color{
  background-color:   #f0ad4e;
  color: white;
}
.click-color{
  color: #ce3d5c;
}
.rostro{
  width: 150px;
  border-radius:50%;
}
.modal-content {
  background-color: rgb(209, 155, 155);
}
.btn-color2{
  background-color: black;
  color: white;
}
.btn-color3{
  background-color: #dad6d6;
  color: black;
}
.btn-color4{
  background-color: #47aeca;
  color: white;
}
  /* ..................................Modal 2: Modal Registrece................................................... */
.no-line{
  border-bottom: 0;
}
.formModal2{
  margin: auto;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border-radius:5px;
}
.size{
  width: 100%;
  padding: 5px;
}
.md2 {
  width: 500px;  
}
.input-reg{
  padding: 5px;
  border-radius:5px;
}
.padding-na {
  padding-right: 0;
  padding-left: 0;
}
.modal-content2{
  background-color: #b1aaaa;
  border-radius:5px;
}
  /* .............................Modal 3: Y modal de Convierte en conductor ........................................ */
.style-text{
  font-size: 15px;
  font-weight: bold;
}
.style-text2{
  font-size: 15px;
}
.style-text3{
  font-size: 13px;
}